.App {
  text-align: center;
  background-color: black;
}

html, body, #root {
  height: 100%;
}

.App {
  display: grid;
  height: 200%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}


