body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* GLOBAL STYLES */
/* * {
  padding: 2;
  margin: 4;
  box-sizing: border-box;
  outline: 2px solid gold;
} */

/* NAV STYLING */
.nav {
  display: grid;
  grid-column: 1 / 3;
  grid-row: 1 / -5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  font-size: 2em;
}

.nav a {
  color: gold;
  text-decoration: none;
  text-shadow: 2px 2px black;
  font-size: 13px;
  padding: 0 8px 0 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav .title {
  /* display: flex;
  flex-direction: column-reverse;
  align-items: flex-end; */
  color: gold;
  text-shadow: 6px 6px black;
  font-size: 45px;
  margin: 0;
  
}

/* MAIN */

/* .main {
  width: 200%;
  height: 200%;
} */

.main h1 {
  font-size: 20px;
  text-shadow: 2px 2px black;
  color: white;
}

/* BUTTON STYLING */
.mainBtn1 {
  background-color: #2a5298;
  border-radius: 4px;
  border-color:lightgray;
  width: 4em;
  height: 2em;
  font-size: 13px;
  text-align: center;
  color: white;
  cursor: grab;
}

/* LIST */

.apiLink {
  color: gold;
  text-decoration: none;
}

.list {
  font-size: 11px;
  text-decoration: none;
  text-shadow: 2px 2px black;
  color: gold;
}

/* CONTAINER */

.container {
  display: grid;
  grid-column: 2 / 3;
  grid-row: -4 / -3;
}

.container {
  font-size: 15px;
  color: white;
}

/* WHY */

.why {
  display: grid;
  grid-column: 1 / span 2;
  grid-row: 2 / 3;
}

.copyRight {
  font-size: 15px;
  text-shadow: 2px 2px black;
  color: gold;
  margin: 0 10px 0 10px;
}

.copyRight a {
  text-decoration: none;
  color: gold;
}

.thanks {
  font-size: 15px;
  text-shadow: 2px 2px black;
  color: gold;
  margin: 0 10px 0 10px;
}

.thanks a {
  text-decoration: none;
  color: gold;
}

/* FOOTER STYLING */

.footer a {
  text-decoration: none;
  text-shadow: 2px 2px black;
  color: gold;
}

.footer {
  display: grid;
  grid-column: 1 / 3;
  grid-row: 4 / -1;
  font-size: 2em;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 450px) {
  .title {
    font-size: 80px;
  }
}

@media only screen and (min-width: 768px) {
  .nav .title {
    font-size: 75px;
  }

  .nav a {
    font-size: 25px;
    padding: 0 15px 0 15px;
  }

  .main h1 {
    font-size: 38px;
    text-shadow: 4px 3px black;
  }

  .mainBtn1 {
    height: 2em;
    width: 4em;
    font-size: 20px;
  }

  .apiLink {
    font-size: 20px;
    text-shadow: 4px 3px black;
  }

  .thanks {
    font-size: 25px;
    text-shadow: 4px 3px black;
    margin: 0 15px 0 15px;
  }

  .copyRight {
    font-size: 25px;
    text-shadow: 4px 3px black;
    margin: 0 15px 0 15px;
  }

  .footer {
    font-size: 40px;
    text-shadow: 4px 3px black;
  }
}

@media only screen and (min-width: 1024px) {
    .nav .title {
      font-size: 110px;
    }

    .nav a {
      font-size: 40px;
      padding: 0 30px 0 30px;
    }

    .main h1 {
      font-size: 50px;
      text-shadow: 4px 3px black;
    }

    .mainBtn1 {
      height: 3em;
      width: 5em;
      font-size: 25px;
    }

    .apiLink {
      font-size: 30px;
      text-shadow: 4px 3px black;
    }

    .thanks {
      font-size: 50px;
      margin: 0 20px 0 20px;
      text-shadow: 4px 3px black;
    }

    .copyRight {
      font-size: 50px;
      margin: 0 20px 0 20px;
      text-shadow: 4px 3px black;
    }

    .footer {
      font-size: 70px;
      text-shadow: 4px 3px black;
    }
}

